<section class="hero" id="form">
    <div class="box">
        <div class="row hero__container">
            {% if page.url == '/thanks.html' %}
                <div class="col-md-6">
                    <p class="hero__container__tagline">Thank You for Subscribing.</p>
                    <h1 class="hero__container__head">
                        Your request has been sent to admin. You will get reply soon.
                    </h1>
                </div>
            {% else %}
                <div class="col-md-6">
                    <p class="hero__container__tagline">Invest Like a Pro.</p>
                    <h1 class="hero__container__head">
                        Make More Money With Our Trading Insights
                    </h1>
                    <p class="hero__container__para">
                        Are you missing out on the best investment opportunities?
                        Sign-up now so you don't miss another one.
                    </p>
                    <div class="hero__container__signup-form">
                        <p class="hero__container__signup-form__signup-info">
                            Sign up and find investment opportunities you won't see anywhere else
                        </p>
                        <form action="">
                            <div class="form-box">
                                <div class="names">
                                    <input type="text" id="first-name" placeholder="First Name" required>
                                    <input type="text" id="last-name" placeholder="Last Name" required>
                                </div>
                                <div class="email">
                                    <label for="email">
                                        <img src="assets/images/message.png" alt="" class="img-fluid">
                                    </label>
                                    <input type="text" placeholder="Enter Your Email" id="mail">
                                </div>
                                <small class="error-message">
                                    <div class="err-icon"></div>
                                    <div class="msg"></div>
                                </small>
                                <div class="phone">
                                    <label for="phone">
                                        <i class="bi bi-phone"></i>
                                    </label>
                                    <input type="text" id="mobile" placeholder="Enter Your Phone Number">
                                </div>
                                <small class="error-message">
                                    <div class="err-icon"></div>
                                    <div class="msg"></div>
                                </small>
                                <div class="message">
                                    <textarea placeholder="Drop a message" id="msg"></textarea>
                                </div>
                                <button id="email">Get it Now</button>
                            </div>
                            <button type="submit" class="mob-btn">Get it Now</button>
                        </form>
                    </div>
                </div> 
            {% endif %}
            <div class="col-md-6">
                <img src="assets/images/hero-img.svg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>