<section class="hero" id="form">
    <div class="box">
        <div class="row hero__container">
            <div class="col-md-6">
                <p class="hero__container__tagline">Invest Like a Pro.</p>
                <h1 class="hero__container__head">
                    Make More Money With Our Trading Insights
                </h1>
                <p class="hero__container__para">
                    Are you missing out on the best investment opportunities?
                    Sign-up now so you don't miss another one.
                </p>
                <div class="hero__container__signup-form">
                    <p class="hero__container__signup-form__signup-info">
                        Sign up and find investment opportunities you won't see anywhere else
                    </p>
                    <form action="">
                        <div class="form-box">
                            <span>
                                <label for="email">
                                    <img src="assets/images/message.png" alt="" class="img-fluid">
                                </label>
                                <input type="email" placeholder="Enter Your Email">
                            </span>
                            <button type="submit">Get it Now</button>
                        </div>
                        <button type="submit" class="mob-btn">Get it Now</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/hero-img.svg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>