<section class="investments">
    <div class="box">
        <div class="row investment__wrapper">
            <div class="col-md-6">
                <img src="assets/images/investment-img.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h2 class="investments__head">
                    Ready To Level Up Your <span>Investments?</span>
                </h2>
                <p class="investments__para">Make trading simpler. Make money faster. Sign up to Envest</p>
                <div class="buttons">
                    <button>
                        Yes! Sign Me Up
                    </button>
                    <span class="down-arrow">
                        <img src="assets/images/down-arrow.svg" alt="down-arrow" class="img-fluid">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>