<section class="level">
    <div class="box">
        <h2 class="level-heading">We're Leveling Up the <span>Playing Field</span></h2>
        <p class="level-para">
            At Envest, we know from firsthand experience that investing in the stock market can be anything but a fair game.
        </p>
        <p class="level-para">
            Without the insight of a high dollar investment advisor (who makes recommendations based on their own personal interest) or hours of researching, most people fail to take advantage of the most lucrative stocks before it's too late.
        </p>
        <div class="level__flex--wrap row">
            <div class="col-md-6 mt-4">
                <p class="come-in">
                    That's Where We Come In
                </p>
                <ul class="check-list">
                    <li>
                        This is your cheat sheet for the fastest and most profitable stocks. Quickly review the best options while discovering undervalued opportunities that can lead to rock-solid investments.
                    </li>
                    <li>
                        We'll give you the tools you need to make smart investment decisions without losing hundreds of dollars in fees by recommending stocks that pay off for you and not for the investment advisor.
                    </li>
                </ul>
                <div class="buttons">
                    <button>
                        Get the Hottest Investment Insights Now
                    </button>
                    <span class="down-arrow">
                        <img src="assets/images/down-arrow.svg" alt="" class="img-fluid">
                    </span>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <img src="assets/images/level-img.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>