$about-head-size: 3rem;
$about-line-hieght-head: 3.375rem;
.about{
    background: $light-soft-red;
    padding: 80px 0;
    .about__head{
        text-align: center;
        font-family: $cormorant;
        font-weight: 700;
        font-size: $about-head-size - 1rem;
        color: $white;
        line-height: $about-line-hieght-head;
        width: 100%;
        margin: 0 auto;
        @media($lg){
            font-size: $about-head-size;
        }
        @media($md){
            width: 70%;
        }
    }
    .about__cards{
        margin-top: 30px;
        width: 100%;
        @media(min-width: 850px){
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
        .about__card{
            background-color: $white;
            box-shadow: 0px 30px 54px rgba(22, 35, 54, 0.11);
            border-radius: 5px;
            padding: 20px;
            position: relative; 
            margin-top: 10px; 
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 7px;
                background-color: $black;
                border-radius: 5px 5px 0 0;
            }
            .image{
                height: 89px;
                width: 89px;
                border-radius: 50%;
                display: grid;
                place-items: center;
                background: $grey;
                margin: 0 auto;
            }
            .about__card__head{
                font-family: $cormorant;
                font-weight: 700;
                font-size: 26px;
                text-align: center;
                margin: 20px 0;
            }
            .about__card__para{
                font-family: $dm-sans;
                font-weight: 400;
                font-size: 1rem;
                line-height: 24px;
                text-align: center;
            }
        }
    }
    .buttons{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        button{
            @include button(10px, 20px, 0px, $black, $white, 700);
            font-family: $lato;
            font-size: 17px;
            align-self: flex-end;
            &:hover{
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
        .arrow{
            display: none;
            @media($md){
                display: block;
            }
        }
    }
}