$soft-red: #E54F3A;
$light-soft-red: #F1684C;
$black: #000000;
$email-background: #F6F7FA;
$blue: #123975;
$white: #ffffff;
$email-text: #959EAC;
$grey: #f9f9f9;
$purple: #302B4E;
$card-text: #4F4A4A;
$faq-text: #535353;
$nav-links: #071B38;
$hero-para: #080809;
$signup-text: #1B3A67;
$level-background: rgba(186, 186, 186, 0.1);
$card-background: #F0F8FA;
$lines: #B4B4B4;
$investment-bg: #F0D4D2;
