@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@700&family=Cormorant:wght@700&family=DM+Sans:wght@400;700&family=Lato:wght@700&display=swap');

$cormorant-infant: 'Cormorant Infant', serif;
$cormorant: 'Cormorant', serif;
$dm-sans: 'DM Sans', sans-serif;
$lato: 'Lato', sans-serif;