$head: 3.4375rem;
$para: 1.125rem;
$signup-info: 0.9375rem;
$tagline: 2rem;
$line-height-head: 4.6875rem;
$line-height-para: 2.125rem;
.hero{
    padding: 80px 0;
    .hero__container{
        background-color: transparent;
        &__tagline{
            font-family: $cormorant-infant;
            font-weight: 700;
            color: $soft-red;
            font-size: $tagline - .3rem;
            @media($lg){
                font-size: $tagline;
            }
        }
        &__head{
            font-family: $cormorant-infant;
            font-weight: 700;
            font-size: $head - 1rem;
            color: $blue;
            line-height: $line-height-head - 1.2rem;
            @media($lg){
                font-size: $head;
                line-height: $line-height-head
            }
        }
        &__para{
            font-family: $dm-sans;
            font-weight: 400;
            font-size: $para - .2rem;
            color: $hero-para;
            line-height: $line-height-para - .5rem;
            @media($lg){
                font-size: $para;
                line-height: $line-height-para;
                width: 90%;
            }
        }
        &__signup-form{
            margin-top: 30px;
            &__signup-info{
                font-family: $dm-sans;
                font-weight: 700;
                font-size: $signup-info;
                line-height: 24.1px;
                width: 100%;
                color: $signup-text;
                @media($lg){
                    width: 70%;
                }
            }
            form{
                .form-box{
                    &>*{
                        margin-top: 20px;
                    }
                    .error-message{
                        color: orangered;
                        display: flex;
                        width: 100%;
                        justify-content: flex-end;
                        gap: 3px;
                        height: auto;
                        margin-top: 0;
                        font-family: $lato;
                    }
                    .phone{
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: 2px;
                        border-bottom: 1px solid $email-text;
                        input{
                            flex-grow: 1;
                        }
                        label{
                            i{
                                color: $email-text;
                            }
                        }
                    }
                    .email{
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        border-bottom: 1px solid $email-text;
                        input{
                            flex-grow: 1;
                        }
                        label{
                            align-self: flex-start;
                            img{
                                margin-top: -5px;
                            }
                        }
                    }
                    .names{
                        display: flex;
                        flex-direction: column;
                        @media(min-width: 900px){
                            flex-direction: row;
                            gap: 8px;
                        }
                        align-items: center;
                        justify-content: space-between;
                        gap: 20px;
                        input{
                            border-bottom: 1px solid $email-text;
                            flex-grow: 1;
                            width: 100%;
                        }
                    }
                    .message{
                        margin-bottom: 20px;
                        textarea{
                            width: 100%;
                            background-color: $email-background;
                            color: $email-text;
                            font-family: $dm-sans;
                            outline: none;
                            border: 1px solid $email-text;
                            height: 80px;
                            padding: 5px;
                            &::placeholder{
                                color: $email-text;
                            }
                        }
                    }
                    background-color: $email-background;
                    width: 90%;
                    padding: 10px 15px;
                    border-radius: 10px;
                    @media($lg){
                        width: 80%;
                    }
                    input{
                        background-color: $email-background;
                        font-family: $dm-sans;
                        font-size: 1rem;
                        color: $email-text;
                        font-weight: 400;
                        &::placeholder{
                            font-family: inherit;
                            font-size: inherit;
                            color: inherit;
                            font-weight: inherit;
                        }
                    }
                    button{
                        display: none;
                        @media($lg){
                            display: block;
                            margin: 0 auto;
                            margin-top: 20px;
                            @include button(10px, 29px, 50px, $soft-red, $white, 700);
                        }
                        &:hover{
                            background-color: $light-soft-red;
                        }
                    }
                }
                .mob-btn{
                    @include button(10px, 29px, 50px, $soft-red, $white, 700);
                    width: 90%;
                    margin-top: 20px;
                    @media($lg){
                        display: none;
                    }
                    &:hover{
                        background-color: $light-soft-red;
                    }
                }
            }
        }
    }
}