.works{
    padding: 80px 0;
    .works__head{
        font-family: $cormorant;
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
        color: $blue;
        span{
            color: $soft-red;
        }
    }
    .works__cards{
        @media(min-width: 850px){
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
        margin-top: 40px;
        .works__card{
            border-left: 1px solid $soft-red;
            margin-top: 30px;
            height: 100%;
            .step{
                font-family: $cormorant;
                font-weight: 700;
                font-size: 20px;
                color: $soft-red;
                position: relative;
                p{
                    margin-left: 20px;
                }
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 50%;
                    border-width: 17px;
                    border-style: solid;
                    border-color: transparent transparent transparent $soft-red;
                }
            }
            &__body{
                box-shadow: 6px 11px 34px rgba(208, 223, 252, 0.54);
                background-color: $white;
                padding: 10px 15px;
                border-radius: 6px;
                .works__card__head{
                    font-family: $cormorant;
                    font-weight: 700;
                    font-size: 24px;
                    text-align: center;
                    color: $blue;
                    margin: 20px 0;
                }
                .works__card__content{
                    font-family: $dm-sans;
                    font-weight: 400;
                    font-size: 1rem;
                    color: $card-text;
                    background-color: $card-background;
                    padding: 20px;
                    line-height: 28px;
                }
            }
        }
    }
}